.bg {
  background-color: #1a202c;
  color: #ffffff;
  width: 100%;
  height: 100vh;
  font-family: "work-sans";
}
.divider_container {
  position: absolute;
  height: calc(100% - 61px);
  top: 61px;
}
