/* code-Editor */
.container {
  /*position: absolute;*/
  /*width: 758px;*/
  /*left: 612px;*/
  flex: 1;
  min-width: 500px;
  /*height: calc(100% - 61px);*/
  background: #1a202c;
}
.header {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background: #1a202c;
}
.header-item {
  height: inherit;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.iconBtn {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  color: #ffffff;
}
.select {
  /*width: 250px;*/
  /*height: 32px;*/
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: #171923;
  color: #ffffff;
}

.select option {
  color: black;
}

.logo_img {
    cursor: pointer;
}
/* .saveBtn {
    width: 50px;
    height: 32px;
    border-radius: 6px;
    padding: 10px 12px;
    background: #38A169;
    color: #FFFFFF;
} */
