.body {
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: "Inter";
  font-style: normal;
  background-color: #1a202c;
}

.body p {
  padding: 8px 0px;
  margin: 0px;
}

.middle {
  width: 400px;
  height: 100vh;
  background-color: #1a202c;
  border: 0px solid rgba(255, 255, 255, 0.08);
  text-align: center;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle .icon {
  width: 160px;
  height: 160px;
  background: #ffffff;
  border-radius: 20px;
  margin: 0 auto;
}

.middle .title {
  width: 100%;
  height: 58px;
  margin-top: 40px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #ffffff;
}

.middle .login-pan {
  width: 80%;
  margin-top: 30px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.middle .login-pan p {
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
}

.middle .login-pan input {
  height: 40px;
  background: #171923;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  padding: 0px 10px;
  font-weight: 500;
  color: white;
  font-size: 16px;
}

.middle .login-pan .msg {
  width: 100%;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #e53e3e;
  padding: 2px;
}

.msg {
  width: 100%;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #e53e3e;
  padding: 2px;
}

.middle .btn-pan {
  margin-top: 40px;
}

.middle .btn_login {
  padding: 10px 24px;
  width: 98px;
  height: 48px;
  background: #3182ce;
  border-radius: 6px;
  margin: 0px auto;
}

select option[value=""][disabled] {
  display: none;
}
