/* code-Editor */
.container {
  width: 758px;
  height: calc( 100% - 60px);
  background: #1A202C;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background: #1A202C;
}
.header-item {
  height: inherit;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.iconBtn {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background: #718096;
  color: #FFFFFF;
}
.select {
  width: 250px;
  height: 32px;
  border-radius: 6px;
  background: #171923;
  color: #FFFFFF;
}
.saveBtn {
  width: 50px;
  height: 32px;
  border: none;
  border-radius: 6px;
  padding: 10px 12px;
  background: #38A169;
  color: #FFFFFF;
}