.bg {
  background-color: #1a202c;
  color: #ffffff;
  width: 100%;
  min-width: 1502px;
  height: 100vh;
  font-family: "work-sans";
}

.nav {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 1502px;
}

.nav_left {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 20px;
}
.breadcrumb {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 10px 16px;
}
.lecture_name {
  font-size: 16px;
  font-weight: 700;
}

.lecture_option {
  color: #1a202c;
}

.lecture_option {
  color: #1a202c;
}

.nav_right {
  display: flex;
  gap: 17px;
  align-items: center;
  margin-left: auto;
  padding-right: 20px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile_text {
  font-size: 14px;
  font-weight: 700;
}
.deadline_input {
  background-color: #171923;
  border: 1px solid rgba(255, 255, 255, 0.08);
  width: 176px;
  height: 32px;
  font-size: 14px;
  padding: 6px 12px;
  text-align: center;
}
.button_test_end {
  height: 32px;
  background-color: #e53e3e;
  padding: 10px 12px;
  font-size: 14px;
}

/* Problem */
.problem_section {
  /*position: absolute;*/
  min-width: 500px;
  flex: 1;

  /*height: calc(100% - 61px);*/
  padding: 40px 20px;
  /*overflow-y: scroll;*/
  overflow: auto;
}

.problem_section::-webkit-scrollbar,
.terminal_body::-webkit-scrollbar {
  width: 3px;
}

.problem_section::-webkit-scrollbar-thumb,
.terminal_body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
}

.problem_section::-webkit-scrollbar-track,
.terminal_body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #1a202c;
}

.probelm_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.explanation_head_text {
  font-size: 20px;
  font-weight: 700;
}
.explanation_body_text {
  font-size: 14px;
  font-weight: 400;
  padding-top: 14px;
  white-space: pre-line;
  /*text-transform: uppercase;*/
}
/* TestCase */
.testcase_section {
  width: 100%;
}
.testcase_content {
  background-color: #171923;
  border-radius: 12px;
  /*width: 100%;*/
  padding: 20px;
  margin-top: 15px;
}
.testcase_content_head {
  display: flex;
  gap: 10px;
  align-items: center;
}
.testcase_title_text {
  font-size: 18px;
  font-weight: 700;
}

.button_validation {
  margin-left: auto;
}

.testcase_content_body {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.testcase_input,
.testcase_output,
.testcase_my_output {
  display: flex;
  gap: 4px;
  align-items: center;
}

.testcase_body_text {
  font-size: 14px;
}

.num_box {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #2d3748;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.test_result_tag,
.test_result_tag_fail {
  font-family: "Inter";
  padding: 2px 8px;
}

/* termianl */
.terminal_container {
  /*position: absolute;*/
  /*width: 549px;*/
  /*left: 66%;*/
  /*right: 0%;*/
  flex: 1;
  /*height: calc(100% - 61px);*/
  min-width: 500px;
}

.terminal_header {
  display: flex;
  height: 60px;
  padding: 0 20px;
  align-items: center;
  justify-content: flex-end;
}

.terminal_btn_container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.terminal_body {
  background: #171923;
  height: calc(100% - 61px);
  padding: 20px;
  overflow: auto;
}

.body_container {
  display: flex;
  height: calc(100% - 62px);
}

.returnCode_modal {
  width: 323px !important;
  height: 136px;
}

.returnCode_body {
  width: 323px !important;
  height: 136px;
  background: #1a202c !important;
}

.returnCode_container {
  padding: 24px 24px 12px 24px !important;
}

.returnCode_footer {
  padding: 12px 24px 24px 24px !important;
}

.returnCode_footer button {
  height: 32px;
  width: 51.5px;
  margin-left: 12px;
  margin-right: 0px;
}

@media screen and (min-width: 1500px) {
  body {
    overflow-x: hidden;
  }
}

@media screen and (min-height: 800px) {
  body {
    overflow-y: hidden;
  }
}
