.App {
  text-align: center;
  color:white ;
  font-family: 'Inter';
  font-style: normal;
}

.App p {
  padding: 8px 0px;
  margin: 0px;
}
.top {
  position: absolute;
  width: 1920px;
  height: 217px;
  left:0px;
  top:0px;
  background-color: #1A202C;
  border: 0px solid rgba(255, 255, 255, 0.08);
}

.bottom {
  position: absolute;
  width: 1920px;
  height: 217px;
  left:0px;
  top:863px;
  background-color: #1A202C;
  border: 0px solid rgba(255, 255, 255, 0.08);
}

.middle {
  position: absolute;
  width: 400px;
  height: 646px;
  left: 760px;
  top: 217px;
  background-color: #1A202C;
  border: 0px solid rgba(255, 255, 255, 0.08);
}


.middle .icon {
  width:160px;
  height:160px;
  background: #FFFFFF;
  border-radius: 20px;
}


.middle .title {
  width: 100%;
  height: 58px;
  margin-top: 40px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;  
}


.middle .login-pan {
  margin-top: 80px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: white;
}


.middle .login-pan p {
  width: 100%;
  height: 24px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
}

.middle .login-pan input {
  width: calc(100% - 20px);
  height: 40px;
  background: #171923;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  padding: 0px 10px;
  font-weight: 500;
  color: white;
  font-size: 16px;
}

.middle .login-pan .msg {
  width: 100%;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #E53E3E;
  visibility: hidden;
  padding: 2px;
}

.middle .btn-pan {
  margin-top: 60px;
}


.middle .btn_login {
  padding: 10px 24px;
  width: 98px;
  height: 48px;
  background: #3182CE;
  border-radius: 6px;
  margin: 0px auto;
}



.middleleft {
  position: absolute;
  width: 760px;
  height: 646px;
  left: 0px;
  top: 217px;
  background-color: #1A202C;
  border: 0px solid rgba(255, 255, 255, 0.08);
}

.middleright {
  position: absolute;
  width: 760px;
  height: 646px;
  left: 1160px;
  top: 217px;
  background-color: #1A202C;
  border: 0px solid rgba(255, 255, 255, 0.08);
}


